################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chesscape/Chess/TacticsForm.resx
/.vs/Chesscape/FileContentIndex/87211038-4f9a-47a1-b197-70d96b2e8dce.vsidx
/.vs/Chesscape/FileContentIndex/5dd19c86-06c8-4ce9-9a9d-200997f0dae2.vsidx
/.vs/Chesscape/FileContentIndex
/.vs/Chesscape/v17/.suo
/.gitignore
/.vs/Chesscape/v17/DocumentLayout.json
