################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Chesscape/Chess/TacticsForm.resx
/.vs/Chesscape/FileContentIndex/87211038-4f9a-47a1-b197-70d96b2e8dce.vsidx
